<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="./assets/profile-styles.css"/>

  </head>
  
  <body>
    <div class="container">
      <h1>User Profile</h1>
      <p><%= user.username %></p>
      <div class="profile-info">
        <span>Email:</span>
        <span>Username:</span>
        <p>exampleuser</p>
      </div>
    </div>
  </body>
</html>
